<h1>Videos#index</h1>

<%= form_tag '/videos' do %>
  <%= text_field_tag(:url) %>
  <%= submit_tag("Enter") %>
<% end %> 

<ul>
  <% @videos.each do |video| %>
    <li>
    <span><%= video.title %></span>
    <span><%= video.progress %></span>
    <span><%= link_to "Download", video.download_path %></span>
    </li>
  <% end %>
</ul>
