<!DOCTYPE html>
<html>
<head>
  <title>Vidget</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <!--[if lt IE 8]>
  <%= javascript_include_tag "font-icons-lte-ie7" %>
  <![endif]-->
  <%= csrf_meta_tags %>
</head>
<body>

<p><%= flash[:notice] if flash[:notice]%></p>
<%= yield %>

</body>
</html>
